{
  "name": "@tarcisiopgs/lisa-workspace-${OS}-${ARCH}",
  "version": "${VERSION}",
  "description": "Lisa Workspace mode binary for ${OS} ${ARCH}.",
  "license": "MIT",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/tarcisiopgs/lisa.git"
  },
  "files": ["bin"],
  "os": ["${OS}"],
  "cpu": ["${ARCH}"],
  "publishConfig": {
    "access": "public"
  }
}
